html,
body,
:root {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;

  background: #ffffff;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.backdrops {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;

  grid-template-columns: 1fr 1fr;

  align-items: center;
  justify-content: center;
}

.backdrop {
  width: 20vw;
  height: 16vh;

  /* margin: auto; */

  backdrop-filter: invert(1);

  &:nth-child(1),
  &:nth-child(2) {
    width: 10vw;
    height: 13vh;
  }

  &:nth-child(3),
  &:nth-child(4) {
    width: 15vw;
  }

  &:nth-child(5),
  &:nth-child(6) {
    width: 20vw;
    height: 16vh;
  }

  &:nth-child(7),
  &:nth-child(8) {
    width: 15vw;
  }

  &:nth-child(9),
  &:nth-child(10) {
    width: 12.5vw;
    height: 12vh;
  }

  &:nth-child(11),
  &:nth-child(12) {
    width: 10vw;
    height: 10vh;
  }

  &:nth-child(1) {
    margin-left: auto;
    margin-right: 7.5vw;
  }

  &:nth-child(2) {
    margin-left: 7.5vw;
    margin-right: auto;
  }

  &:nth-child(3) {
    margin-left: auto;
    margin-right: 10vw;
  }

  &:nth-child(4) {
    margin-left: 10vw;
    margin-right: auto;
  }

  &:nth-child(5) {
    margin-left: auto;
    margin-right: 13vw;
  }

  &:nth-child(6) {
    margin-left: 13vw;
    margin-right: auto;
  }

  &:nth-child(7) {
    margin-left: auto;
    margin-right: 12.5vw;
  }

  &:nth-child(8) {
    margin-left: 12.5vw;
    margin-right: auto;
  }

  &:nth-child(9) {
    margin-left: auto;
    margin-right: 10vw;
  }

  &:nth-child(10) {
    margin-left: 10vw;
    margin-right: auto;
  }

  &:nth-child(11) {
    margin-left: auto;
    margin-right: 5vw;
  }

  &:nth-child(12) {
    margin-left: 5vw;
    margin-right: auto;
  }
}

.slice {
  position: absolute;

  backdrop-filter: invert(1);

  &:nth-child(1) {
    top: 0;
    bottom: 0;

    left: 25vw;

    width: 50vw;

    border-radius: 100%;
  }

  &:nth-child(2) {
    top: -30vh;
    bottom: -30vh;

    left: 16vw;

    width: 68vw;

    border-radius: 100%;
  }

  &:nth-child(3) {
    top: 20vh;
    bottom: 20vh;

    left: 45vw;

    width: 10vw;

    border-radius: 100%;
  }

  &:nth-child(4) {
    top: 25vh;
    bottom: 25vh;

    left: 43.5vw;

    width: 13vw;

    border-radius: 100%;
  }

  &:nth-child(5) {
    top: 13vh;
    bottom: 13vh;

    left: 45vw;

    width: 10vw;

    border-radius: 100%;
  }

  &:nth-child(6) {
    top: 3vh;
    bottom: 3vh;

    left: 42vw;

    width: 16vw;

    border-radius: 100%;
  }
}
